<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poomoo.edao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name=".application.eDaoClientApplicaiton"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.ShopEvaluateActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PassWordManageActivity" >
        </activity>
        <activity android:name=".activity.UploadPicsActivity" >
        </activity>
        <activity android:name=".activity.CommdityInfomationActivity" >
        </activity>
        <activity android:name=".activity.NavigationActivity" >
        </activity>
        <activity android:name=".activity.CommodityListActivity" >
        </activity>
        <activity android:name=".activity.TransferOfPaymentActivity1" >
        </activity>
        <activity android:name=".activity.TransferOfPaymentActivity2" >
        </activity>
        <activity android:name=".activity.GetDetailActivity" >
        </activity>
        <activity android:name=".activity.PersonalCenterActivity" >
        </activity>
        <activity android:name=".activity.PurchaseHistoryActivity" >
        </activity>
        <activity android:name=".activity.RegistrationActivity" >
        </activity>
        <activity android:name=".activity.SplashActivity" >
        </activity>
        <activity android:name=".activity.RebateActivity" >
        </activity>
        <activity android:name=".activity.MywalletActivity" >
        </activity>
        <activity android:name=".activity.CreditCollectionActivity" >
        </activity>
        <activity android:name=".activity.CreditManageActivity" >
        </activity>
        <activity android:name=".activity.CreditPayActivity" >
        </activity>
        <activity android:name=".activity.CreditPayByPhoneActivity" >
        </activity>
        <activity android:name=".activity.CooperationActivity" >
        </activity>
        <activity android:name=".activity.DealerApplyActivity" >
        </activity>
        <activity android:name=".activity.PartnerApplyActivity" >
        </activity>
        <activity android:name=".activity.AllianceApplyActivity" >
        </activity>
        <activity android:name=".activity.AboutUsActivity" >
        </activity>
        <activity android:name=".activity.Registration2Activity" >
        </activity>
        <activity android:name=".activity.LoginActivity" >
        </activity>
        <activity android:name=".activity.MainActivity" >
        </activity>
        <activity android:name=".activity.ConfirmOrderActivity" >
        </activity>
        <activity android:name=".activity.OrderInformationActivity" >
        </activity>
        <activity android:name=".activity.OrderListActivity" >
        </activity>
        <activity android:name=".activity.CommodityEvaluateActivity" >
        </activity>
    </application>

</manifest>