<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.poomoo.edao">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21"/>
    <!-- 百度地图所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name=".application.eDaoClientApplicaiton" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name=".activity.MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AllianceApplyActivity"/>
        <activity android:name=".activity.AboutUsActivity"/>
        <activity android:name=".activity.CommodityInfomationActivity"/>
        <activity android:name=".activity.CommodityListActivity"/>
        <activity android:name=".activity.CreditCollectionActivity"/>
        <activity android:name=".activity.CreditManageActivity"/>
        <activity android:name=".activity.CreditPayActivity"/>
        <activity android:name=".activity.CreditPayByPhoneActivity"/>
        <activity android:name=".activity.CooperationActivity"/>
        <activity android:name=".activity.ConfirmOrderActivity"/>
        <activity android:name=".activity.CommodityEvaluateActivity"/>
        <activity android:name=".activity.DealerApplyActivity"/>
        <activity android:name=".activity.EvaluationListActivity"/>
        <activity android:name=".activity.GetDetailActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.MywalletActivity"/>
        <activity android:name=".activity.OrderInformationActivity"/>
        <activity android:name=".activity.OrderListActivity"/>
        <activity android:name=".activity.PassWordManageActivity"/>
        <activity android:name=".activity.PartnerApplyActivity"/>
        <activity android:name=".activity.PersonalCenterActivity"/>
        <activity android:name=".activity.PurchaseHistoryActivity"/>
        <activity android:name=".activity.Registration2Activity"/>
        <activity android:name=".activity.RegistrationActivity"/>
        <activity android:name=".activity.RebateActivity"/>
        <activity android:name=".activity.StoreEvaluateActivity"/>
        <activity android:name=".activity.StoreInformationActivity"/>
        <activity android:name=".activity.SideBarActivity"/>
        <activity android:name=".activity.SplashActivity"/>
        <activity android:name=".activity.NavigationActivity"/>
        <activity android:name=".activity.TransferOfPaymentActivity1"/>
        <activity android:name=".activity.TransferOfPaymentActivity2"/>
        <activity android:name=".activity.UploadPicsActivity"/>

        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2">
                </action>
            </intent-filter>
        </service>

        <!-- meta-data需要写在application中 -->
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="H6zGBwuuQrkrQ5VdTQD8Unqw"/>
    <meta-data android:name="UMENG_APPKEY" android:value="55bf80a1e0f55a478900396c"/>
<activity android:configChanges="orientation|keyboard" android:launchMode="singleTask" android:name="com.umeng.socialize.view.ShareActivity" android:noHistory="true" android:theme="@style/Theme.UMDialog" android:windowSoftInputMode="stateVisible|adjustResize"/>
<activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name=".wxapi.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
</application>

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>
