<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poomoo.edao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name=".application.eDaoClientApplicaiton"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.OrderInformationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AllianceApplyActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.CommodityInfomationActivity" />
        <activity android:name=".activity.CommodityListActivity" />
        <activity android:name=".activity.CreditCollectionActivity" />
        <activity android:name=".activity.CreditManageActivity" />
        <activity android:name=".activity.CreditPayActivity" />
        <activity android:name=".activity.CreditPayByPhoneActivity" />
        <activity android:name=".activity.CooperationActivity" />
        <activity android:name=".activity.ConfirmOrderActivity" />
        <activity android:name=".activity.CommodityEvaluateActivity" />
        <activity android:name=".activity.DealerApplyActivity" />
        <activity android:name=".activity.EvaluationListActivity" />
        <activity android:name=".activity.GetDetailActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MywalletActivity" />
        <activity android:name=".activity.NavigationActivity" />
        <activity android:name=".activity.OrderListActivity" />
        <activity android:name=".activity.PassWordManageActivity" />
        <activity android:name=".activity.PartnerApplyActivity" />
        <activity android:name=".activity.PersonalCenterActivity" />
        <activity android:name=".activity.PurchaseHistoryActivity" />
        <activity android:name=".activity.Registration2Activity" />
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.RebateActivity" />
        <activity android:name=".activity.StoreEvaluateActivity" />
        <activity android:name=".activity.StoreInformationActivity" />
        <activity android:name=".activity.SideBarActivity" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.TransferOfPaymentActivity1" />
        <activity android:name=".activity.TransferOfPaymentActivity2" />
        <activity android:name=".activity.UploadPicsActivity" />
    </application>

</manifest>